<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>

  <add name="ModeloPrincipal" connectionString="metadata=res://*/Modelos.Principal.ModeloPrincipal.csdl|res://*/Modelos.Principal.ModeloPrincipal.ssdl|res://*/Modelos.Principal.ModeloPrincipal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=NlayerNLayer;persist security info=True;user id=sa;password=PruebA02;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>