<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="AccesoDual"
         connectionString="data source=(local);initial catalog=SCINLayer;integrated security=True;"
         providerName="System.Data.SqlCient" />
    <add name="ModeloPrincipal"
         connectionString="metadata=res://*/Modelos.Principal.ModeloPrincipal.csdl|res://*/Modelos.Principal.ModeloPrincipal.ssdl|res://*/Modelos.Principal.ModeloPrincipal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=SCINLayer;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <globalization fileEncoding="utf-8"
                   requestEncoding="utf-8"
                   responseEncoding="utf-8"
                   culture="es-CO"
                   uiCulture="es-CO" />
    <compilation debug="true"
                 targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="servicioDistribuidoBinding"
                 maxBufferSize="4194304"
                 maxReceivedMessageSize="4194304" />
        <binding name="servicioProvidersBinding"
                 maxBufferSize="4194304"
                 maxReceivedMessageSize="4194304" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="servicioDistribuidoBehavior"
               name="Sci.Nlayer.ServiciosDistribuidos.ModuloPrincipal.ServicioDistribuido">
        <clear />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  bindingConfiguration=""
                  name=""
                  contract="IMetadataExchange"
                  listenUriMode="Explicit" />
        <endpoint address="Basic"
                  binding="basicHttpBinding"
                  bindingConfiguration="servicioDistribuidoBinding"
                  name="servicioDistribuidoBasic"
                  contract="Sci.Nlayer.ServiciosDistribuidos.ModuloPrincipal.IServicioDistribuido" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1000/ServicioDistribuido/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="servicioProvidersBehavior"
               name="Sci.Nlayer.ServiciosDistribuidos.ModuloPrincipal.Providers.ServicioProviders">
        <endpoint address="Basic"
                  binding="basicHttpBinding"
                  bindingConfiguration=""
                  name="servicioProvidersBasic"
                  contract="Sci.Nlayer.ServiciosDistribuidos.ModuloPrincipal.Providers.IServicioProviders" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  bindingConfiguration=""
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1000/ServicioProviders/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="servicioDistribuidoBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="4194304" />
        </behavior>
        <behavior name="servicioProvidersBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer maxItemsInObjectGraph="4194304" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>