<?xml version="1.0"
      encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="ModeloAdministracion"
         connectionString="metadata=res://*/Modelos.Administracion.ModelAdministracion.csdl|res://*/Modelos.Administracion.ModelAdministracion.ssdl|res://*/Modelos.Administracion.ModelAdministracion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=SCINLayer;persist security info=True;user id=sa;password=PruebA02;multipleactiveresultsets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>