<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AccesoDual" connectionString="data source=192.168.0.28;initial catalog=AtencionVictimas;Persist Security Info=True;User ID=useratencionvictima;Password=PruebA01" providerName="System.Data.SqlCient"/>
    <add name="SCIProviders" connectionString="data source=192.168.0.28;initial catalog=AtencionVictimas;Persist Security Info=True;User ID=useratencionvictima;Password=PruebA01" providerName="System.Data.SqlCient"/>
  </connectionStrings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.web>
    <authentication mode="Forms">
      <forms name=".SCIUSRCK" loginUrl="~/Cuentas/IniciarSesion.aspx" timeout="2880"/>
    </authentication>
    <machineKey validationKey="8F22E5B61A6853C5DF4CA13B0A9EBE286B0A6AE411AB5DE982C6FACB87D53B0D647DD657F25129FC9569E4AE53EC77966601E51F22F83B4956260C45FDA0D8AC" decryptionKey="D61C60B90FEE1AB1ABE7C5316ABB3C2D5818A780596946BCB986ADF1467E9E82" validation="SHA1" decryption="AES"/>
    <membership defaultProvider="SCIMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="SCIMembershipProvider" type="Sci.Nlayer.Infraestructura.Transversales.Proveedores.SciMembershipProvider" connectionStringName="SCIProviders" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="Sci Nlayer Core" passwordAttemptWindow="10" requiresUniqueEmail="true" usarWcf="false"/>
      </providers>
    </membership>
    <profile defaultProvider="SCIProfileProvider" enabled="true">
      <providers>
        <clear/>
        <add name="SCIProfileProvider" type="Sci.Nlayer.Infraestructura.Transversales.Proveedores.SciProfileProvider" connectionStringName="SCIProviders" applicationName="Sci Nlayer Core"/>
      </providers>
      <properties>
        <clear/>
        <add name="Identificacion" type="String" defaultValue=""/>
      </properties>
    </profile>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName=".SCIROLECK" defaultProvider="SCIRoleProvider">
      <providers>
        <clear/>
        <add connectionStringName="SCIProviders" applicationName="Sci Nlayer Core" writeExceptionsToEventLog="false" name="SCIRoleProvider" type="Sci.Nlayer.Infraestructura.Transversales.Proveedores.SciRoleProvider"/>
      </providers>
    </roleManager>
    <siteMap defaultProvider="SCISiteMapProvider">
      <providers>
        <clear/>
        <add name="SCISiteMapProvider" connectionStringName="SCIProviders" type="Sci.Nlayer.Infraestructura.Transversales.Proveedores.SciSiteMapProvider" securityTrimmingEnabled="true" applicationName="Sci Nlayer Core"/>
      </providers>
    </siteMap>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="es-CO" uiCulture="es-CO"/>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="servicioDistribuidoBasic" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="servicioProvidersBasic" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1000/ServicioDistribuido.svc/Basic" binding="basicHttpBinding" bindingConfiguration="servicioDistribuidoBasic" contract="Proxies.ServicioDistribuido.IServicioDistribuido" name="servicioDistribuidoBasic"/>
      <endpoint address="http://localhost:1000/ServicioProviders.svc/Basic" binding="basicHttpBinding" bindingConfiguration="servicioProvidersBasic" contract="Proxies.ServicioProviders.IServicioProviders" name="servicioProvidersBasic"/>
    </client>
  </system.serviceModel>
</configuration>