<?xml version="1.0"
      encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="servicioProvidersBasic" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1000/ServicioProviders.svc/Basic"
        binding="basicHttpBinding" bindingConfiguration="servicioProvidersBasic"
        contract="Proxies.ServicioProviders.IServicioProviders" name="servicioProvidersBasic" />
    </client>
  </system.serviceModel>
</configuration>